*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./src/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body{
    min-height: 100%;
}
html{
    height: 100%;
}
.grid-container > *{
   border-radius: 0px;
   padding: 10px;
}
/*Header*/
header{
    padding: 0px;
    margin: 0;
    grid-area: header;
    }
.section{
    padding: 0px;
    margin: 0;
    grid-area: section;
}
.menu{
    padding: 0px;
    margin: 0;
    grid-area: menu;
}

header h1{
    /* Sandra Meraz */
    font-family: 'Butcherman';
    font-style: normal;
    font-weight:bold;
    text-align: center;
    color: aliceblue;
    text-shadow: black 10px 2px 8px;
    font-size: 90px;
    -webkit-text-stroke:1px;
    -webkit-text-stroke-color: black;

}
  
/*About me*/
.container{
    /*Social Media*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}
#aboutme{
    display:flexbox;
    position:relative;
    align-items: center;
    margin: 20px;
    font-family: 'Denk One';
    font-size: 25px;
    color: aliceblue;
    text-shadow: black 10px 2px 8px;
    text-align: justify;
    -webkit-text-stroke:0.7px;
    -webkit-text-stroke-color: black;
} 
/*Tumbas*/
.tumbas{
    /* text-align: right;*/
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .tumba a{
     position: absolute;
     top: 50%;
     left: 30%;
     transform: translate(-50%, -50%);
     background: none;
     color:aliceblue;
     text-decoration: none;
     transition: all .5s ease;
     font-weight: bold;
     text-shadow: black 5px 1px 4px;
     font-family: 'Denk One';
 }
 .tumba a:hover{
     color: darkorchid;
     padding-left: 6px;
 }

/*Footer*/
footer{
    padding:0;
    margin: 0;
    text-align: right;
    grid-area: footer;
}
.footer{
    padding: 0;
    margin: 0;
}
footer a{
    color: aliceblue;
    font-family: 'Denk One';
    text-align: right;
    text-decoration: none;
    border-top: 5px aliceblue;
    border-bottom: 5px aliceblue;
    transition: all .5s ease;
    font-weight: bold;
    text-shadow: black 5px 1px 4px;
    padding: 0 30px;
}
footer a:hover{
    color: darkorchid;
    padding-right: 6px;
}
/*Animación*/
@keyframes ghost{
    from{opacity: 1;}
    to{opacity: 0;}
}
.ghost{
    animation-name: ghost;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

/*Mobile*/
.grid-container{
    display: grid;
    gap: 0px;
    grid-template-rows:  auto;
    grid-template-areas:
    "header"
    "aboutme"
    "menu"
    "footer"
    ;
}
/*Tablet*/
@media(min-width:768px){
    .grid-container{
        grid-template-columns: auto ;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header"
        "aboutme aboutme"
        "menu menu"
        "footer footer";
    }
}

/*Desktop*/
@media(min-width:900px){
    .grid-container{
        grid-template-columns: auto ;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header"
        "aboutme aboutme aboutme"
        "menu menu menu"
        "footer footer footer";
    }
}

@media only screen and (max-width: 320px) {
    .witch img {
      width:200px;
    }
}