*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./src/img/animatedbg.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body{
    min-height: 100%;
}
html{
    height: 100%;
}
.grid-container > *{
   border-radius: 0px;
   padding: 10px;
}
/*Header*/
header{
    padding: 0px;
    margin: 0;
    grid-area: header;
    }
.skills{
    padding: 0px;
    margin: 0;
    grid-area: skills;
}
.menu{
    padding: 0px;
    margin: 0;
    grid-area: menu;
}

header h1{
    /* Sandra Meraz */
    font-family: 'Butcherman';
    font-style: normal;
    font-weight:bold;
    text-align: center;
    color: aliceblue;
    text-shadow: black 10px 2px 8px;
    font-size: 90px;
    -webkit-text-stroke:1px;
    -webkit-text-stroke-color: black;

}

/*Cards skills*/
.container{
    padding: 10px;
}
.col{
    margin: 0;
    padding: 15px;
    filter:opacity(100%);
    transition:filter.25s;
}
.col:hover{
    filter: opacity(0%);
}
.card{
    max-width: 145px;
    align-items: center;
    text-align: center;
}

/*Tumbas*/
.tumbas{
    /* text-align: right;*/
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .tumba a{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: none;
     color:aliceblue;
     text-decoration: none;
     transition: all .5s ease;
     font-weight: bold;
     text-shadow: black 5px 1px 4px;
     font-family: 'Denk One';
 }
 .tumba a:hover{
     color: darkorchid;
     padding-left: 6px;
 }

/*Footer*/
footer{
    padding:0;
    margin: 0;
    text-align: right;
    grid-area: footer;
}
.footer{
    padding: 0;
    margin: 0;
}
footer a{
    color: aliceblue;
    font-family: 'Denk One';
    text-align: right;
    text-decoration: none;
    border-top: 5px aliceblue;
    border-bottom: 5px aliceblue;
    transition: all .5s ease;
    font-weight: bold;
    text-shadow: black 5px 1px 4px;
    padding: 0 30px;
}
footer a:hover{
    color: darkorchid;
    padding-right: 6px;
}


/*Mobile*/
.grid-container{
    display: grid;
    align-items: center;
    gap: 0px;
    grid-template-rows:  auto;
    grid-template-areas:
    "header"
    "skills"
    "menu"
    "footer"
    ;
}
/*Tablet*/
@media(min-width:768px){
    .grid-container{
        grid-template-columns: auto ;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header"
        "skills skills"
        "menu menu"
        "footer footer";
    }
}

/*Desktop*/
@media(min-width:900px){
    .grid-container{
        grid-template-columns: auto ;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header"
        "skills skills skills"
        "menu menu menu"
        "footer footer footer";
    }
}

@media only screen and (max-width: 320px) {
    .witch img {
      width:200px;
    }
}